<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Noticia</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> <!-- Quill Styles -->
</head>
<body>
    <header>
        <h1>Editar Noticia</h1>
        <div class="header-container">
            <a href="/admin/dashboard" class="nav-button">Dashboard</a>
            <a href="/admin/settings" class="nav-button">Configuraciones</a>
            <a href="/admin/change-credentials" class="nav-button change-credentials">Cambiar Credenciales</a>
            <a href="/admin/logout" class="nav-button logout">Cerrar sesión</a>
        </div>
    </header>

    <main>
        <div class="news-management-container">
            <% if (message && message.length > 0) { %>
                <div class="flash-message"><%= message %></div>
            <% } %>

            <form action="/admin/news/edit/<%= news._id %>" method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit();">
                <fieldset>
                    <legend>Editar Noticia</legend>

                    <label for="title">Título de la Noticia:</label>
                    <input type="text" name="title" id="title" value="<%= news.title %>" required>

                    <label for="category">Categoría:</label>
                    <select name="category" id="category" required>
                        <% categories.forEach(category => { %>
                            <option value="<%= category._id %>" <%= news.category._id.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                        <% }) %>
                    </select>

                    <label for="summary">Resumen:</label>
                    <textarea name="summary" id="summary" rows="5" required><%= news.summary %></textarea>

                    <label for="content">Contenido:</label>
                    <!-- Aquí va el editor Quill -->
                    <div id="editor" style="height: 200px;"></div>
                    <!-- Campo oculto para enviar el contenido -->
                    <input type="hidden" id="news-content" name="content" value="<%- news.content %>">

                    <label for="image">Imagen (opcional):</label>
                    <input type="file" name="image" id="image" accept="image/*">
                    <% if (news.image) { %>
                        <p>Imagen Actual: <img src="/uploads/<%= news.image.split('/').pop() %>" alt="Imagen de la Noticia" class="news-image" width="100"></p>
                    <% } %>

                    <button type="submit" class="btn btn-primary">Actualizar Noticia</button>
                </fieldset>
            </form>
        </div>
    </main>

    <!-- Scripts para Quill -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['link', 'image'],
                    [{ 'align': [] }],
                    ['clean'] // remove formatting button
                ]
            }
        });

        // Inicializa el editor con el contenido existente
        quill.root.innerHTML = "<%- news.content %>";

        // Maneja el envío del formulario
        function handleSubmit() {
            var content = document.querySelector('input[name=content]');
            content.value = quill.root.innerHTML;
            return true;
        }
    </script>
</body>
</html>
